<section class="bg-overlay flex justify-center align-center">
    <div class="modal">
        <h1>צרו קשר!</h1>
    </div>


    <form class="flex column">

        <input type="text" placeholder="שם" name="name">
        <input type="email" placeholder="אימייל" name="email">
        <input type="number" placeholder="טלפון" name="phone">
        <textarea name="msg" id="" cols="30" rows="10" placeholder="תוכן ההודעה"></textarea>
    </form>
</section>
<!-- <div class="secondery-overlay"></div> -->
<div class="svg"></div>