<section class="contact-page flex">
    <div class="pattern">

    </div>
    <div class="content flex align-center justify-center" >
        <form #form="ngForm" class="contact-form flex column" (ngSubmit)="sendEmail($event)" >
            <h1>דברו איתנו</h1>
            <label>שם מלא</label>
            <input type="text" ngModel name="user_name">
            <label>אימייל</label>
            <input type="email " ngModel name="user_email">
            <label>טלפון</label>
            <input type="number" ngModel name="user_phone">
            <label>מה תרצו להגיד לנו?</label>
            <textarea name="message" ngModel></textarea>
            <input type="submit" value="Send">

        </form>


        

    </div>
</section>