.banner {
    background-color:var(--secondary-light);
    text-align: right;
    padding: 50px 0;
    .banner-container {
        gap: 30px;
        @media screen and(max-width:570px) {
            flex-direction: column-reverse;
        }
    }
    h1 {
        margin-bottom: 20px;
    }
    button {
        background-color: #f1eded;
        border-radius: 3px;
        min-width: fit-content;
        padding: 10px;
        font-size: 18px;
        transition: all 0.3s;
        &:hover {
            background-color: #fff;
        }
    }
    
}
