// Colors
$primary: #08d9d6;
$secondary: #252a34;
$gray-font: rgba(0, 0, 0, 0.54);

:root {
    --primary-dark: #478ac9;
    --primary-lighten: #6fade7;
    --secondary: #f09a10;
    --secondary-light: #f5b755;
    --secondary-svg-bg: #f9e79b;
}
// Breakpoints
$mobile-breakpoint: 760px;
$narrow-breakpoint: 960px;
$wide-breakpoint: 1260px;
