.card-preview {
    background-color: #fff;
    text-align: right;
    align-items: flex-end;
    gap: 5px;
    padding: 25px;
    margin-top: -100px;
    border: 2px solid var(--primary-dark);

    img {
        width: 25%;
        background-color: var(--secondary-svg-bg);
        border-radius: 500px;
        padding: 0.5em;
    }
    @media screen and(max-width:470px) {
        align-items: center;
        text-align: center;
    }

}
