.insurance-list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: content;
    gap: 40px;
    align-self: center;
    align-content: center;
    justify-content: center;
    margin-top: 30px;
}

.insurance-options {
    h1 {
        font-family: heebo-bold;
        margin-top: 50px;
        font-size: 50px;
    }
    
    .underline{
    font-family: heebo-light;
    color: #8d8484;

}
}
