.adventages {
    div {
        margin-bottom: 125px;
        text-align: center;
        margin-top: 100px;
    }

    h1 {
        font-size: 2em;
        display: inline-block;
        position: relative;
        background: transparent;
        font-style: normal;
        text-align: center;
        z-index: 0;
        &::after {
            position: absolute;
            bottom: 8px;
            left: 0;
            width: 100%;
            height: 8px;
            z-index: -1;
            background-color: var(--secondary-light);
            content: "";
        }
    }
}
